<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- specify a remote instance to relay through, when set listenPrefix is ignored
         if you're running the service or hosting a local IIS instance this can be ws://localhost 
    <add key="remoteHost" value="ws://xkcd949.com" />
    -->

    <!-- specify your external hostname here to be used in place of your computer name in links
    <add key="hostname" value="hostname" />
    -->
    
    <!-- listen prefix for listener, e.g.: "http://*:80/", note: listening on an arbitrary port
         requires administrator access unless you've explicitly allowed it by adding an urlacl
         e.g: netsh http add urlacl url=http://*:80/ user=everyone -->
    <add key="listenPrefix" value="http://*:81/" />

    <!-- enable the webclient -->
    <add key="enableWebclient" value="true"/>

    <!-- accept relays (required for the webclient) -->
    <add key="acceptRelays" value="true"/>

    <!-- set to false to shutdown when the last relay is finished or canceled (only applicable to the tray app) -->
    <add key="stayOpen" value="true"/>

    <!-- max concurrent connections for listener -->
    <add key="maxConnections" value="8" />
  </appSettings>
</configuration>
